canvas{
  border: 2px black solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #1F8A70;
}

body{
  background-color: #004358;
}

h1{
  margin-left: auto;
  margin-right: auto;
  display: table;
  color: white;
}

h4{
  margin-left: auto;
  margin-right: auto;
  display: table;
  color: white;
}